<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
   <a class="navbar-brand" href="{{ site.baseurl | append: '/' }}">{{ site.title }}</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bpn-navbar" aria-controls="bpn-navbar" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="bpn-navbar">
     <ul class="navbar-nav mr-auto">
       {% for nav in site.data.nav %}
       <li class="nav-item">
         <a class="nav-link" href="{{ nav.url }}" {% if nav.description %} title="{{ nav.description }}" {% endif %} >{{ nav.title }}</a>
       </li>
       {% endfor %}
     </ul>
  {% if site.data.domains | sort: 'title' %}
  <ul class="navbar-nav mr-2">
     <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="domains" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Domains</a>
       <div class="dropdown-menu dropdown-menu-right" aria-labelledby="domains">
         {% assign domains = site.data.domains | sort: 'title' %}
         {% for domain in domains %}
           <a class="dropdown-item" href="{{ domain.url }}" {% if domain.description %} title="{{ domain.description }}" {% endif %} >{{ domain.title }}</a>
         {% endfor %}
       </div>
     </li>
     </ul>
    {% endif %}
   </div>
  </nav>

</header>
