---
#
---
@import url(//fonts.googleapis.com/css?family=Titan+One);

body {
	background-color: #FFF;
	color: #333;
  padding-top: 3.5rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Titan One', cursive;
}


a:link {color: #ff9955;} /* unvisited link */
a:visited {color: #ff9955;} /* visited link */
a:hover {color: #333;} /* mouse over link */
a:active {color: #ff9955;} /* selected link */

.menu-item:link {color: #333} /* unvisited link */
.menu-item:visited {color: #333;} /* visited link */
.menu-item:hover {color: #ff9955;} /* mouse over link */
.menu-item:active {color: #333;} /* selected link */

.logo {
    width: 200px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
}
